@{
    ViewData["Title"] = "Permissions denied";
}
<h1>@ViewData["Title"]</h1>

<div class="alert alert-danger" style="display: inline-block;" role="alert">
    You don't have permissions to access that resource!
</div>